{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
  {% for article in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ article.title }}</span> &middot;
        <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
      </div>
      <div class="card-body">
        <!-- Changes start here! -->
        <p>{{ article.body }} </p>
        <p>{{ article.txt1 }} </p>
        <p>{{ article.txt2 }} </p>
        <a href="{% url 'article_edit' article.pk %}">Edit</a> |
        <a href="{% url 'article_delete' article.pk %}">Delete</a>
      </div>
    
      <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="tables">جدول</h1>
            </div>
            <div class="bs-component">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ستون ۱ </th>
                            <th scope="col">ستون ۲</th>
                            <th scope="col">ستون ۳ </th>
                            <th scope="col">ستون ۴</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for comment in article.comments.all %}
                          <tr class="table-active">
                            <td>{{ comment.author }}</td>
                            <td>{{ comment }}</td>
                          </tr>
                      {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <!-- /example -->
        </div>
    </div>



      <!-- Changes end here! -->
    </div>
    <br />
  {% endfor %}
{% endblock content %}
